<div *ngIf="this.url!='/'">
    <mat-drawer-container class="container-fluid">
        <mat-drawer mode="side" opened class="side">
            <div class="header">
                <div class="logo"> <img class="img-responsive" src="assets/logo_red.png" alt="logo"></div>
                <p>2021 FORECASTING TOOL</p>
            </div>
           
            <div class="section">
                <ul>
                    <li><a href=""><i class="fas fa-home"></i>Home</a></li>
                    <li><a [routerLink]="['/upload']" [ngClass] ="upload"><i class="fas fa-cloud-upload-alt"></i>Upload</a></li>
                    <li><a [routerLink]="['/baseScenario']" [ngClass] ="baseScenario"><i class="fas fa-signal"></i>Base Scenario</a></li>
                    <li><a [routerLink]="['/newScenario']" [ngClass] ="newScenario"><i class="far fa-plus-square"></i>Build new Scenario</a></li>
                    <li><a [routerLink]="['/compareScenario']" [ngClass] ="compareScenario"><i class="fas fa-balance-scale-right"></i>Compare Scenario</a></li>
                    <!-- <li><button type="button"  [ngClass] ="upload" (click)="display('upload')"><i class="fas fa-cloud-upload-alt"></i>Upload</button></li>
                    <li><button type="button"  [ngClass] ="baseScenario" (click)="display('baseScenario')"><i class="fas fa-signal"></i>Base Scenario</button></li>
                    <li><button type="button"  [ngClass] ="newScenario" (click)="display('newScenario')"><i class="far fa-plus-square"></i>Build new Scenario</button></li>
                    <li><button type="button"  [ngClass] ="compareScenario" (click)="display('compareScenario')"><i class="fas fa-balance-scale-right"></i>Compare Scenario</button></li> -->
                    
                </ul>
            </div>
    
    
    
    
    
        </mat-drawer>
        <mat-drawer-content class="main">
            <div  *ngIf ='this.url=="/upload"'>
                <app-upload></app-upload>
            </div>
            <div  *ngIf='this.url=="/baseScenario"'>
                <app-base-scenario></app-base-scenario>
            </div>
            <div  *ngIf='this.url=="/newScenario"'>
                <app-new-scenario></app-new-scenario>
            </div>
            <div  *ngIf='this.url=="/compareScenario"'>
                <app-compare-scenario></app-compare-scenario>
            </div>
           
        </mat-drawer-content>   
      </mat-drawer-container>
</div>
<div *ngIf="this.url=='/'">
<app-home></app-home>
</div>
  