<div class="head">
    <div class="baseScenario">
        <h5>Base Scenario Details</h5> <hr>
        <p>Actual info is available till : W4'21</p> 
        <p>The forecasted period is : W5'21-W52'21</p>
    </div>
    <div class="macroCovid">
        
        <div class="macro">
            <h5>MACRO</h5> <hr>
            <div class="macroflex">
                <div class="gdp">
                    <div><i class="fas fa-chart-pie"></i></div>
                    <div>GDP Gr %</div>
                    <h3>13.7</h3>
                </div>
                <div class="inflation">
                    <div><i class="fas fa-signal"></i></div>
                    <div>Inflation %</div>
                    <h3>1.6</h3>
    
                </div>
                <div class="jobless">
                    <div><i class="fas fa-ban"></i></div>
                    <div>Jobless Rate %</div>
                    <h3>2.0</h3>
    
                </div>
                <div class="interest">
                    <div><i class="fas fa-percent"></i></div>
                    <div>Interest Rate %</div>
                    <h3>0.4</h3>
                </div>
            </div>
            <div>* All variables are calculated for the forecasted period</div> <br>
           
        </div>
        <div class="covid">
            <h5>COVID</h5> <hr>
            <div class="covidflex">
                <div class="cases">
                    <div><i class="fas fa-viruses"></i></div>
                    <div>Cases</div>
                    <h3>13.7</h3>
    
                </div>
                <div class="deaths">
                    <div><i class="fas fa-book-dead"></i></div>
                    <div>Deaths</div>
                    <h3>1.6</h3>
    
                </div>
                <div class="index">
                    <div><i class="fas fa-lock"></i></div>
                    <div>Stringency Index %</div>
                    <h3>2.0</h3>     
                </div>
            </div>

            <div>* Cases, Deaths and Stringency Index are the weekly averages for the forecasted period</div>
            
        </div>

    </div>
</div>