<div class="home">
    <div class="head">
        <div class="logo"> <img class="img-responsive" src="assets/logo.png" alt="logo"></div>
        <p>2021 FORECASTING TOOL</p>
    </div>
    <div class="content">
        <div class="kellogg">
            <img src="assets/kelloggs.png" alt="kellogg">
        </div>
        <div class="option">
            <p> <b>Welcome!</b></p>
            <p>Get ready for Forecasting Tool</p>
            <hr> 
            <div class="button">
                <a href='upload'><i class="fas fa-cloud-upload-alt"></i><div>Upload</div></a>
                <a href='baseScenario'><i class="fas fa-signal"></i><div>Base Scenario</div></a>
            </div>
            <div class="button">
                <a href='newScenario'><i class="far fa-plus-square"></i><div>Build new Scenario</div></a>
                <a href='compareScenario'><i class="fas fa-balance-scale-right"></i><div>Compare Scenario</div></a>
            </div>
        </div>
    </div>
</div>